%h3 Cooking Info:

- @attributes.each do |info|
  %p
    %strong= info.name + ":"
    = info.value

%h3 Ingredients:

%ul
  - @ingredients.each do |ingredient|
    %li= ingredient

%h3 Directions:

%ol
  - @directions.each do |direction|
    %li= direction

%h3 Source:

%p
  %a{:href => @source}= @source
