.hrecipe
  %h3 Cooking Info:

  %p
    %strong Difficulty:
    %span.difficulty= difficulty
    %br
    %strong Prep Time:
    %span.preptime
      = prep_time
      -#%span.value-title{:title => 'PT10M'}
    %br
    %strong Cook Time:
    %span.cooktime
      = cook_time
      -#%span.value-title{:title => 'PT10M'}
    %br
    %strong Servings:
    %span.yield= servings

  %h3 Ingredients:

  %ul.ingredients
    - @ingredients.each do |ingredient|
      %li.ingredient= ingredient

  %h3 Directions:

  %ol.instructions
    - @directions.each do |direction|
      %li.instruction= direction

  %h3 Source:

  %p
    %a{:href => @source}= @source
