.hrecipe
  %p
    - if image
      %img.photo{:src => image.url}
      %br
    %a{:href => @media.first.url}
      Click to download recipe for Paprika

  %h3 Cooking Info:

  %p
    %strong Difficulty:
    %span.difficulty= difficulty
    %br
    %strong Prep Time:
    %span.preptime
      = prep_time
      -#%span.value-title{:title => 'PT10M'}
    %br
    %strong Cook Time:
    %span.cooktime
      = cook_time
      -#%span.value-title{:title => 'PT10M'}
    %br
    %strong Servings:
    %span.yield= servings
    - if @source
      %br
      %strong Source:
      %a.source{:href => @source_url}= @source


  %h3 Ingredients:

  %ul.ingredients
    - @ingredients.each do |ingredient|
      %li.ingredient= ingredient

  %h3 Directions:

  %ol.instructions
    - @directions.each do |direction|
      %li.instruction= direction
